@charset "UTF-8";

/*
PALETA DE CORES:
PRETO: #191013
BRANCO: #f4f4f2
CINZA: #556270
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
    background-color: #0a4481;
}


main{
    position: relative;
    height: 100vh;
    width: 100wh;
}

section#login {
    /*Coloca o login no meio da tela para mobile*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /*Esconde as pontas da parte de cima da foto */

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
}

section#login > div#imagem{
    display: block;
    background: blue url(..//imagens/pexels-pavel-danilyuk-8294594.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}